@media only screen and (max-width:700px) {
    header .navbar-brand {
        padding-left: 5%;
    }

    header .navbar-toggler {
        color: white;
    }

    .dropdown-content {
        position: initial;
    }


    header .nav-link:hover{
        color: var(--roxo);
        transform: scale(1.05);
    }

    header .row .col-md-12 h1 {
        letter-spacing: 3px;
        font-size: 7vmin;
        margin-top: 25%;
        margin-bottom: 5%;
    }

    header .row .col-md-12 img {
        margin-bottom: 5%;
        margin-top: 10%;
    }


    header .row .col-md-12 h1:hover {
        letter-spacing: 5px;
        font-size: 7.3vmin;
        transition: .6s;
    }
    .topics {
        margin-left: 3%;
        margin-right: 3%;
    }

    .section-1 .topic1 {
        margin-bottom: 10%;
    }
    
    .section-1 .topic2 {
        margin-bottom: 10%;
    }

    .section-1 .topic3 {
        margin-bottom: 10%;
    }

    .section-2 {
        margin-left: 3%;
        margin-right: 3%;
    }

    .section-2 h6{
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .section-2 h2{
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .section-2 p{
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
    }

    .section-2 .row .mob2 {
        margin-top: 10%;
    }

    .section-2 .segundo {
        margin-bottom: 10%;
    }

    .section-2 .row .mob3 {
        margin-bottom: 15%;
    }

    .section-3{
        margin-left: 3%;
        margin-right: 3%;
    }

    .section-3 h1 {
        text-align: start;
    }

    .section-4 {
        margin-top: 15%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .section-4 h1 {
        text-align: start;
    }

    .section-4 h4{
        font-size: 5vmin;
        padding-bottom: 5%;
    }

    .section-4 h5{
        font-size: 5vmin;
        padding-bottom: 5%;
    }


    .section-4 h6{
        font-size: 5vmin;
        padding-bottom: 5%;
    }


    .section-4 .team {
        text-align: left;
    }



    .section-5 {
        margin-top: 15%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .section-5 h1 {
        text-align: start;
    }

    footer {
        margin-top: 15%;
        margin-left: 3%;
        margin-right: 3%;
        text-align: center;
    }

    footer .col-md-6 {
        margin-bottom: 10%;
    }

    footer .social {
        text-align: center;
    }

}